@model Atracker.Models.Vehicle

@{
    ViewData["Title"] = "Delete Vehicle";
    Layout = "~/Views/Shared/_MangerLayout.cshtml";
}

<div class="custom-card">
    <h3 class="text-danger">Are you sure you want to delete this vehicle?</h3>
    <p>This action cannot be undone.</p>
    <hr />
    <div>
        <h4>Vehicle to be Deleted</h4>
        <dl class="row">
            <dt class="col-sm-3">Vehicle ID</dt>
            <dd class="col-sm-9">@Model.VehicleIdentifier</dd>

            <dt class="col-sm-3">License Plate</dt>
            <dd class="col-sm-9">@Model.LicensePlate</dd>

            <dt class="col-sm-3">Car Type</dt>
            <dd class="col-sm-9">@Model.CarType</dd>
        </dl>
    </div>

    <form asp-action="DeleteVehicleConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes, Delete Vehicle" class="btn btn-danger" />
        <a asp-action="FleetVehicleMonitoring" class="btn btn-secondary">Cancel</a>
    </form>
</div>  