@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Atracker</h1>
    <p class="mt-4">Please log in to access your dashboard.</p>
    <a class="btn btn-primary btn-lg" href="/Identity/Account/Login">Login</a>
</div>