@model Atracker.Models.TaskItem

@{
    ViewData["Title"] = "Scheduling";
    Layout = "~/Views/Shared/_HeadLayout.cshtml";
}

<div class="custom-card">
    <h3>Scheduling And Distributing Tasks & Communication</h3>
    <hr />
    <form asp-action="Scheduling">
        <div class="form-group mb-2">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="e.g., Task 1" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="Deadline"></label>
            <input asp-for="Deadline" type="date" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="DeliveryPriority"></label>
            <select asp-for="DeliveryPriority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-select"></select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AssignedToId">Assign To User</label>
            <select asp-for="AssignedToId" asp-items="ViewBag.AssignableUsers" class="form-select"></select>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Description">Task Details / Reply</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Send / Assign Task</button>
    </form>
</div>