@model Atracker.Models.DailyReport

@{
    ViewData["Title"] = "Vehicle Monitoring";
    Layout = "~/Views/Shared/_TrackerLayout.cshtml";
}

<div class="custom-card">
    <h2 class="mb-4">Vehicle & Performance Monitoring</h2>

    <form asp-action="VehiclePerformanceMonitoring" method="post">
        <h5 class="mb-3">Daily Trip Summary (Report):</h5>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="ReportContent" class="form-label">Reply</label>
            <textarea asp-for="ReportContent" class="form-control" rows="8"></textarea>
            <span asp-validation-for="ReportContent" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark btn-lg">Submit</button>
    </form>
</div>