<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="top-header">
        Atracker
    </header>
    <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h3 class="sidebar-header">Main Menu</h3>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a asp-controller="Head" asp-action="UserManagement" class="nav-link">Users Management</a>
                </li>
                <li>
                    <a asp-controller="Head" asp-action="Scheduling" class="nav-link">Scheduling And Distrib..</a>
                </li>
                <li>
                    <a asp-controller="Head" asp-action="Performance" class="nav-link">Performance & Reports</a>
                </li>
                <li>
                    <a asp-controller="Head" asp-action="Communication" class="nav-link">Communication & Issue..</a>
                </li>
                <li>
                    <a asp-controller="Head" asp-action="WarehouseData" class="nav-link">All Warehouse_Data</a>
                </li>
                <li class="nav-item mt-auto pt-3 border-top">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <strong>Manage Profile</strong>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>